.breadcrumb {
    display: block;
    overflow: hidden;
    margin-left: 0;
    // border: 1px solid $base-blue;
    // background-color: $light-gray;
    padding: 1px 0.55em;
    & > * {
        float: left;
        margin: 0;
        padding: 0;
        &.current {
            color: $base-blue;
        }
    }
    & > *:first-child:before {
        content: " ";
        margin: 0;
    }
    & > *:before {
        content: "/";
        color: $base-blue;
        position: relative;
        margin: 0 0.55em;
        top: 1px;
    }
}