header.nav{

background-color: $base-blue;
border-bottom: 1px solid black;
min-height: 60px;
width: 100%;
z-index: 999;

.nav-wrapper{
	@include clearfix;
	@include outer-container;
	position: relative;
	padding-right: 1em;
}
}

.nav-menu-button{
	color: $base-blue;
	display: block;
	float: right;
	margin: 0;
	padding-right: 1em;
	text-transform: uppercase;
}