//Single Entry//
.entry-container{
	@include outer-container;
}

.entry-title{
	font-family: $base-font-family;
	font-size: $base-font-size * 3;
	color: $base-blue;
}

// Step by Step List //
.steps{
	li{
		float: left;
		line-height: $base-line-height * 1.25;
	}

	counter-reset: item ;

	&>*:before{
		float: left;
		counter-increment: item;
		content: counter(item) " ";
		font-size: $base-font-size * 3;
		line-height: $base-line-height / 1.50;
		padding-bottom: 1em;
		padding-right: 16px;
		font-family: $base-font-family;
		font-weight: 100;
	}
}


// Related Entries //
.related{
	
}
