.instruction{
    @include outer-container(90%);

    @include media($xxlarge){
        @include outer-container(70%);
    }
    @include media($huge){
        @include outer-container(50%);
    }
}

.instruction-wrap{
    @include outer-container(100%);

    // Step by Step List //
.steps {
    li {
        float: left;
        line-height: $base-line-height * 1.15;
        width: 100%;
        display: block;
             @include media($huge){
            @include span-columns(12);
        }
    }
    counter-reset: item;
    & > *:before {
        float: left;
        counter-increment: item;
        content: counter(item) " ";
        font-size: $base-font-size * 3;
        line-height: $base-line-height / 1.5;
        padding-bottom: 1em;
        padding-right: 16px;
        font-family: $base-font-family;
        font-weight: 100;
        color: $base-blue;
    }
    img{
        float: left;
        clear: both;
        padding: 2em 0;

         @include media($small){
            width: 20%;
            height: 20%;
         }

        @include media($medium){
            width: 60%;
            height: 60%;
        }
        @include media($large){
            width: 70%;
            height: 70%;
        }
        @include media($huge){
            width: 80%;
            height: 80%;
        }
    }
}
}




