.guide-list {
position: relative;
@include outer-container;
}

.guide{
    display: inline-block;
    margin: 1em 0 0.5em 0;
    text-align: center;
}

.guide__cover{
    display: block;
    margin-left: auto;
    margin-right: auto;
    @include transition(0.25s, ease-in);

    &:hover{
        @include transform(translateY(-0.25em));
        @include transform(scale(0.85));
    }
}

.guide__header{
    font-size: $base-font-size * 1.5;
    text-transform: uppercase;
}

.guide__desc{
    font-size: $base-font-size / 1.05;
}

@include media($new-small-viewport){
    .guide{
        @include span-columns(6);
        @include omega(2n);
    }
}

@include media($new-large-viewport){
    .guide{
        @include span-columns(3);
        @include omega(4n);
    }
}