//Main Search Container //
.main-search-container {
    padding: 10em 0;
    text-align: center;
    @include background(url("/images/main-banner.jpg") center no-repeat);
}

.search-hero-widget {
    position: relative;
    .wide {
        display: block;
        width: 100%;
        padding: 1em 1em;
    }
}

.search-popular {
    display: block;
    background-color: transparentize($base-blue, 0.2);
    width: 90%;
    margin: 0 auto;
    padding: 0.5em;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    @include border-top-radius(4px);
    @include border-bottom-radius(4px);
}

//Main Topics//
.main-topics {
    padding: 10em 1em;
    margin: 0 auto;
    @include media($huge) {
        @include outer-container(70%);
        text-align: center;
    }

    .card {
        @include media($huge) {
            @include span-columns(4);
            @include omega(4n);
        }
    }
}