.search-popular {
    display: block;
    background-color: transparentize($base-blue, 0.2);
    width: 90%;
    margin: 0 auto;
    padding: 0.5em;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    @include border-top-radius(4px);
    @include border-bottom-radius(4px);
}

//Main Topics//
.main-topics {
    padding: 4em 0;
    @include outer-container(95%);
    .new-cards li.card-block {
       @include media($large-viewport){
        @include span-columns(4);
       }
       @include media($small-viewport){
        &:last-child{
            @include shift(3);
        }
       }
    }
}