//Main Search Container //
.main-search-container {
    background-image: url(http://placehold.it/2000x400);
    position: relative;
    background-position: auto 100%;
    padding: 10em 0;

    @include media($xxmedium){
        @include outer-container(100%);
    }

}

.search-widget {
    width: 80%;
    margin: 0 auto;
}

.main-search {
    text-align: center;
    input[type="search"] {
        width: 100%;
        height: 3em;
    }
}

//Main Topics//
.main-topics {
    padding: 15em 1em;
    margin: 0 auto;
    @include media($huge) {
    	@include outer-container(70%);
        text-align: center;
    }
}