.search-list{
	margin-top: 3em;

	.search-list-result{
		display: block;
		padding: 0.5em 0 0.5em 0;
		margin-bottom: 2em;
		border: 0px solid $base-blue;
		@include transition(all 0.2s ease-in-out);
	
	&:hover{
		border: 1px dotted $base-blue;
		color: $base-orange;
	}
	}
}