//Colors
$base-blue: #3498DB;
$base-orange: #e77f24;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #DDD;


//Base Background Color
$base-background-color: white;

//Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $base-blue;

//Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);
$base-button-color: $base-orange;
$hover-button-color: lighten($base-orange, 15);

//Border Colors
$base-border-color: $base-blue;
$base-border: 1px solid $base-border-color;

//Form Colors
$form-border-color: $base-blue;
$form-border-color-hover: darken($base-border-color, 15);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px lighten($base-blue, 10);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 1);