// Typography
$base-font-family: $helvetica;
$header-font-family: $base-font-family;

//Type Size
$base-font-size: 1em;
$h1-font-size: $base-font-size * 2.25;
$h2-font-size: $base-font-size * 2;
$h3-font-size: $base-font-size * 1.75;
$h4-font-size: $base-font-size * 1.50;
$h5-font-size: $base-font-size * 1.25;
$h6-font-size: $base-font-size;

