.cards {

  .card {
   
  ///////////////////////////////////////////////////////////
  $base-border-color: $dark-gray !default;
  $base-border-radius: 3px !default;
  $base-background-color: $dark-gray !default;
  $base-spacing: 5.5em !default;
  $base-accent-color: #477DCA !default;
  $base-link-color: $base-accent-color !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  //////////////////////////////////////////////////////////////////////////////////

  $card-border-color: $base-blue;
  $card-border: 1px solid $card-border-color;
  $card-background: lighten($base-blue, 80%);
  $card-header-background: $card-background;
  $card-hover-background: lighten($card-background, 5%);
  $card-image-background: #DBD199;
  $card-image-hover-background: lighten($card-image-background, 5%);


  @include transition (all 0.2s ease-in-out);
  background-color: $card-background;
  border-radius: $base-border-radius;
  border: $card-border;
  box-shadow: 0 2px 4px darken($base-background-color, 10%);
  cursor: pointer;
  text-align: center;
  padding: 0.5em 0;
  margin: 1em 0;
  position: relative;
  position: relative;
  
.icon {
    width: 75px;
    height: 75px;
    display: inline-block;
}


  .card-header {
    @include transition (all 0.2s ease-in-out);
    font-weight: bold;
    line-height: 1.5em;
    font-size: $base-font-size * 1.15;
    text-transform: uppercase;
    // border-bottom: 1px solid $base-blue;
    padding: ($base-spacing / 3) ($base-spacing / 2);
  }

  .card-copy {
    font-size: 1em;
    line-height: 1.0em;
    padding: ($base-spacing / 2) ($base-spacing / 2);

  }

  &:focus,
  &:hover {
    background-color: $base-blue;

    .card-image img {
      background: $card-image-hover-background;
    }

  }

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }
}

}



