// Related Entries //
.entries-related{
position: relative;
padding: 5em 0 3em;
background: lighten($dark-gray, 75%);

 a{
      color: $base-blue;
        border-bottom: $base-blue;
        float: left;
        cursor: pointer;
        margin: 1em 0em;
        display: block;

        


@include media($xxmedium){
    @include span-columns(6);
}

@include media($xxlarge){
    @include span-columns(4);
}

@include media($huge){
    @include span-columns(3);
}
    &:hover,&:focus{
        color: $base-blue;
    }


    } 


    .minor-title{
        font-size: $base-font-size / 0.75;
        text-transform: uppercase;
        display: block;
        background-color: $base-blue;
        color: white;
        padding: 0.5em 0;
        overflow: hidden;
    }

}
