//Main Search Container //
.main-search-container {
    padding: 10em 0;
    text-align: center;
    @include background(linear-gradient(rgba($base-orange, 0.25), rgba($base-orange, 0.25) ), url("/images/main-banner.jpg") no-repeat);
    background-size: cover;

    &--category{
    	 padding: 10em 0;
    text-align: center;
    	@include background(linear-gradient(rgba($base-orange, 0.45), rgba($base-orange, 0.45) ), url("/images/category-hero.jpg") no-repeat);
        background-size: cover;
    }
}

.search-hero-widget {
    position: relative;
    .wide {
        display: block;
        width: 100%;
        padding: 1em 1em;
    }
}
