// .constrain{
// 	@include outer-container(90%);
// }

.main-container{
@include outer-container(100%);
}

.constrain{
	margin: 0 auto;
@include outer-container(100%);

@include media($xxsmall){
	@include outer-container(90%);
}

@include media($medium){
	@include outer-container(90%);
}

@include media($xxmedium){
	@include outer-container(80%);
}

@include media($large){
	@include outer-container(80%);
}

@include media($xxlarge){
	@include outer-container(80%);
}

@include media($huge){
	@include outer-container(90%);
}
@include media($xxhuge){
	@include outer-container(80%);
}
@include media($xxxhuge){
	@include outer-container(70%);
}

}

.centered-content{
	margin: 0 auto;
	text-align: center;
}

.padding-big{
	padding: 6em 0;
}