// .constrain{
// 	@include outer-container(90%);
// }

.main-container{
@include outer-container(80%);

	@include media($huge){
	@include outer-container(50%);
	}

}

.constrain{
@include outer-container(90%);

@include media($xxmedium){
	@include outer-container(70%);
}

@include media($xxlarge){
	@include outer-container(85%);
}

@include media($huge){
	@include outer-container(80%);
}

}

.centered-content{
	margin: 0 auto;
	text-align: center;
}

.padding-big{
	padding: 6em 0;
}