.popular-entries {
    background: lighten($base-blue, 5%);
    position: relative;
    padding: 5em 0;
    .popular-list {}
    .popular-list__item {
        display: inline-block;
    }
    .popular-list__header {
        color: white;
        font-size: 1.3em;
    }
@include media($large){
    .popular-list__item{
        @include span-columns(3);
        @include omega(4n);
    }
}
}