.popular-entries {
    background: lighten($base-blue, 5%);
    position: relative;
    padding: 5em 0;
<<<<<<< HEAD
    .popular-list {}
    .popular-list__item {
        display: inline-block;
    }
    .popular-list__header {
=======
    a {
        // float: left;
>>>>>>> dce819e73eecf79fe5b545d066450b227750d633
        color: white;
        font-size: 1.3em;
    }
@include media($large){
    .popular-list__item{
        @include span-columns(3);
        @include omega(4n);
    }
}
}